# Basic Syntax

- 1 식별자 (Identifiers)
- 2 변수 (Variable)
- 3 자료형 (Data Type)
- 4 데이터 형변환 (Data Type Conversion)
- 5 연산자 (Operator)

In [1]:
# 두 수를 더하는 함수 입니다.
def sum(a,b):
    return a + b

In [2]:
print(123)

123

In [3]:
123

123

In [4]:
print(123)
print("asdf")

123
asdf

In [5]:
print("asdf\
qwer")
# 파이썬에서 코드의 길이가 길어 여러줄을 사용해야 할 때는 \를 사용

asdfqwer

## 1. 식별자 (Identifier)

- 변수, 함수, 클래스, 모듈 등을 구분하기 위해 사용되는 이름
- 규칙
    - 대소문자를 구분
    - 소문자(a-z), 대문자(A-Z), 숫자(0-9), 언더스코어(_) 사용 가능
    - (_)를 제외한 특수문자는 사용 불가
    - 가장 앞에 (__) 사용 지양
    - 가장 앞에 숫자 사용 불가
    - 예약어 사용 불가
        - 예약어 : False, class, finally, is , return, None, continue, for, lambda, try, True, def, from, nonlocal, while, and, ... etc

In [6]:
a_ = 3

In [7]:
a_

3

In [8]:
a = 1

In [9]:
A = 2

In [10]:
a,A

(1, 2)

## 2. 변수 (Variable)

- 메모리에 데이터를 저장하기 위한 저장공간의 이름
- snake_case & PascalCase & camelCase
- 값을 저장하기 위한 변수명으로는 snake_case를 사용

In [11]:
a = 1
# a 라는 이름의 저장공간을 만들고 1 이라는 숫자를 넣는다라는 뜻

In [12]:
print(a)

1

In [13]:
b = "python"
# b 라는 이름의 저장공간을 만들고 "python" 이라는 문자열을 넣는다라는 뜻

In [14]:
print(b)

python

In [15]:
c, d = 7, "fastcampus"
print(c,d)
# 다중 할당 1

7 fastcampus

In [16]:
e = f = g = "datascience"
print(e,f,g)
# 다중 할당 2

datascience datascience datascience

## 3. 자료형 (Data Type)

- 1 Numbers
    - int : 정수
    - float : 실수
    - complex : 복소수
- 2 Boolean
    - True, False 두가지로 이루어진 데이터 타입
- 3 String
    - 문자들의 나열로 이루어진 데이터 타입
    
### Collections

- 4 List
    - 순서가 있는 데이터의 나열
- 5 Tuple
    - 순서가 있는 데이터들의 나열 변경 불가능
- 6 Dictionary
    - key, value가 쌍으로 이루어진 데이터 타입
- 7 Set
    - 순서가 없고 데이터 중복이 되지 않는 데이터 타입
    - Dictionary의 key라고 생각 하면 됨

#### 3-1. Numbers - Integer

In [17]:
a, b, c, d = 0, 9982, 123, 123141
print(type(a),type(b),type(c),type(d))
print(a,b,c,d)

# 정수형 데이터

<class 'int'> <class 'int'> <class 'int'> <class 'int'>
0 9982 123 123141

#### 3-1. Numbers - float

In [18]:
a, b, c, d = 0.0, 998.232, -1251.12312, +25524.111
print(type(a), type(b), type(c), type(d))
print(a, b, c, d)

# 소수점이 있는 실수

<class 'float'> <class 'float'> <class 'float'> <class 'float'>
0.0 998.232 -1251.12312 25524.111

#### 3-1. Numbers - complex

In [19]:
a = 2 + 3
b = complex(3,-4)
print(a, b)

# 실수부, 허수부
print(a.real, a.imag, b.real, b.imag)

# 복소수 연산
print(a + b, a - b, a* b, a / b)

# 켤레복소수
print(a.conjugate(), b.conjugate())

# 복소수의 크기
print(abs(a), abs(b))

5 (3-4j)
5 0 3.0 -4.0
(8-4j) (2+4j) (15-20j) (0.6+0.8j)
5 (3+4j)
5 5.0

#### 3-2. Boolean

In [20]:
# True와 False 두가지로 이루어진 데이터 타입

a, b = True, False
print(type(a), type(b))
print(a,b)

<class 'bool'> <class 'bool'>
True False

#### 3-3. String

In [21]:
ms = """FastCampus
데이터사이언스
Science"""
print(ms)

FastCampus
데이터사이언스
Science

In [22]:
# copy string
a = "Fast" * 4
a

'FastFastFastFast'

In [23]:
# offset
a = "abcdefghijk"
a[0], a[5], a[-1], a[-5]

('a', 'f', 'k', 'g')

In [24]:
# slice
# str[start:end:step]

a = "abcdefghijk"
a[1:3], a[:5], a[-3:],a[::2]

('bc', 'abcde', 'ijk', 'acegik')

In [25]:
# -1을 넣어 문자열을 거꾸로 만들수도 있다
a = "abcdefghijk"
a[::-1]

'kjihgfedcba'

In [26]:
# len 함수를 이용해 문자열의 길이를 알 수 있다
a = "abcdefghijk"
len(a)

11

In [27]:
# end에 아무것도 안쓴 것과 len(a) 는 같다
a = "abcdefghijk"
a[:len(a)],a[:]

('abcdefghijk', 'abcdefghijk')

#### 3-3. String method

문자열 함수 Source
[https://docs.python.org/3/library/stdtypes.html#string-methods]

In [28]:
# string

a = "  FAST campus datascience  "


# upper() 대문자로 변환
print(a.upper())

# lower() 소문자로 변환
print(a.lower())

# find() 해당 문자열 위치 리턴 (없으면 -1 리턴)
print(a.find("c"))
print(a.find("q"))

# index() 해당 문자열 위치 리턴 (없으면 value error 리턴)
print(a.index("c"))

# count() 문자열 갯수 리턴
print(a.count("a"))

# lstrip() 왼쪽 공백 제거
print(a.lstrip())

# rstrip() 오른쪽 공백 제거
print(a.rstrip())

# strip() 양쪽 공백 제거
print(a.strip())

# replace() 특정 문자열 치환
print(a.replace("a", "b"))

# split() 특정 문자열로 분리하여 리스트 형태로 리턴
print(a.split(" "))

# endswith() 마지막 문자열이 일치하면 True 리턴
print(a.rstrip().endswith("datascience"))

# join() 문자열 리스트를 결합
a = ["fast", "campus", "data", "science"]
print("-".join(a))

  FAST CAMPUS DATASCIENCE
  fast campus datascience
7
-1
7
3
FAST campus datascience
  FAST campus datascience
FAST campus datascience
  FAST cbmpus dbtbscience
['', '', 'FAST', 'campus', 'datascience', '', '']
True
fast-campus-data-science

#### 3-4. List

순서가 있는 데이터들의 집합을 가지는 데이터 타입이다. List, Tuple, Dictionary, Set의 데이터 타입을 Collection이라고 한다

#### 3-4. List - 선언

In [29]:
# [] 기호를 사용해서 리스트를 선언할 수 있다. 리스트의 데이터로 리스트를 넣을 수도 있음

a = ["fast", "campus", "data", "science"]
b = [1, 2, [3, 4]]
c = [1, "fast", True]
print(type(a), type(b), type(c))
a,b,c

<class 'list'> <class 'list'> <class 'list'>

(['fast', 'campus', 'data', 'science'], [1, 2, [3, 4]], [1, 'fast', True])

#### 3-4. List - offset

In [30]:
# 리스트도 문자열과 같이 오프셋을 사용할 수 있습니다.

a = ["fast", "campus", "data", "science"]
print(a[1], a[-1], a[1:3], a[:], a[::-2])
a[-2] = "kdh"
a

campus science ['campus', 'data'] ['fast', 'campus', 'data', 'science'] ['science', 'campus']

['fast', 'campus', 'kdh', 'science']

#### 3-4. List - method

In [31]:
# 리스트 함수를 이용해 리스트 데이터를 가공할 수 있음
a = ["fast", "campus", "data", "science"]
b = [1,2,3,4,9,8,7,6,5]

# append() 가장 마지막에 데이터 추가
a.append("fighting")
print(a)

# sort() 오름차순 정렬
b.sort()
print(b)

# reverse() 내림차순 정렬
b.reverse()
print(b)

# index() 데이터의 index값 리턴
print(a.index('campus'))

# insert() 특정 위치에 데이터 추가
a.insert(2, 'index')
a.insert(5, 'index')
print(a)

# remove() 해당되는 데이터 값을 삭제 (오프셋이 가장 작은 데이터 하나만 삭제)
a.remove("index")
print(a)

# pop() 가장 마지막 값을 리턴하고 마지막 값을 삭제
print(a.pop())
print(a)

['fast', 'campus', 'data', 'science', 'fighting']
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1]
1
['fast', 'campus', 'index', 'data', 'science', 'index', 'fighting']
['fast', 'campus', 'data', 'science', 'index', 'fighting']
fighting
['fast', 'campus', 'data', 'science', 'index']

#### 3-4. List - 데이터 수정

In [32]:
# 오프셋을 이용하여 리스트의 데이터를 수정할 수 있음

a = [1,2,3,4,5]

a[1] = "fast"
print(a)

a[1:4] = "a"
a

[1, 'fast', 3, 4, 5]

[1, 'a', 5]

#### 3-4. List - Copy

In [33]:
# 리스트를 복사하기위해서는 copy() 함수를 사용해야 함
# b = a 형태로 복사를 하게 되면 같은 저장공간에 두 개의 이름을 가지게 된다
# 즉, a를 변경하게 되면 b도 변경이 됨
# 따라서 별도의 저장공간을 가지게 하려면 copy() 함수를 사용해야 함

a = [1,2,3]
b = a
print(a,b)

# a를 바꿨는데 b의 데이터도 같이 바뀜
a[2] = 4
print(a,b)

c = a.copy()
print(a,c)

# a를 바꿔도 c의 데이터는 바뀌지 않음
a[2] = 5
print(a,c)

[1, 2, 3] [1, 2, 3]
[1, 2, 4] [1, 2, 4]
[1, 2, 4] [1, 2, 4]
[1, 2, 5] [1, 2, 4]

#### 3-5. Tuple

List와 같이 순서가 있는 데이터 타입이지만 데이터를 변경할 수 없는 특징이 있다. Tuple을 사용하는 이유는 Tuple이 List보다 컴퓨터의 자원(메모리)를 적게 사용한다.

또한 아래에서 배우는 Dictionary의 key로 사용될 수 있다.

#### 3-5. Tuple - 선언

In [34]:
# ','로 구분하여 선언할 수 있고, ','로 구분하고 괄호로 묶어서 선언할 수 있다.

a = 1,2,3,4
b = "fast", "campus", "data", "science"
c = 1, "fast", True
d = (1, "fast", True)

print(type(a), type(b), type(c), type(d))
print(a, b, c, d)
a[2], a[1:3]

<class 'tuple'> <class 'tuple'> <class 'tuple'> <class 'tuple'>
(1, 2, 3, 4) ('fast', 'campus', 'data', 'science') (1, 'fast', True) (1, 'fast', True)

(3, (2, 3))

In [36]:
# 튜플의 데이터는 수정이 불가능하다

a = 1,2,3,4
a[1] = 3

TypeError: 'tuple' object does not support item assignment

In [37]:
# 같은 데이터를 변수에 저장하면 리스트보다 튜플이 저장공간을 덜 사용한다.
# 변경이 되지 않는 순서가 있는 데이터의 집합의 경우 리스트보다 튜플을 사용하는 것이 효율적

import sys

# getsizeof 의 단위 : byte
l = [1,2,3,4,5]
print(sys.getsizeof(l))

t = tuple(l)
print(sys.getsizeof(t))

104
88

#### 3-6. Dictionary

딕셔너리는 데이터의 순서가 없고 key와 value의 쌍으로 데이터가 모여있는 데이터 타입이다.

#### 3-6. Dictionary - 선언

In [38]:
# {} 기호 안에 {키 : 값} 형태로 선언한다
# 키 값에는 정수나 문자열의 데이터 타입이 사용 가능

dic = {
    1: "one",
    "A": ["data","science"],
    "숫자": 1234,
}

type(dic),dic

(dict, {1: 'one', 'A': ['data', 'science'], '숫자': 1234})

#### 3-6. Dictionary - 데이터 수정

In [39]:
# 딕셔너리는 키값으로 데이터를 수정할 수 있다

dic[1] = "하나"
dic["A"] = "알파벳"
dic

{1: '하나', 'A': '알파벳', '숫자': 1234}

In [40]:
# 순서가 없는 데이터 타입이므로 오프셋의 슬라이스는 사용이 불가능
dic[1:3]

TypeError: unhashable type: 'slice'

#### 3-6. Dictionary - method

In [41]:
# 딕셔너리 함수를 이용해 리스트 데이터를 가공할 수 있음

#keys() 키를 리턴
print(dic.keys())

#values() 값을 리턴
print(dic.values())

#items() 키와 값을 리턴 ( 주로 for문에서 key,value로 루프를 돌릴 때 사용 )
print(dic.items()) 

#clear() dictionary 데이터를 모두 삭제
dic.clear()
print(dic)

#get() 매개변수에 해당하는 값을 리턴
dic = {1: "one", 2:"two", 3:"three"}
print(dic.get(2))
print(dic.get(4))

# print(dic[4]) >> TypeError 발생
print(dic.get(4,"no_data")) #get을 사용하면 error를 예방할 수 있다

# copy() 리스트와 마찬가지로 다른 저장공간을 가지는 데이터를 대입
dic2 = dic
dic[1] = "하나"
dic3 = dic.copy()
dic[1] = "A"

# update() 데이터를 업데이트
a = {1:"a", 2:"b"}
b = {2:"c", 3:"d"}
print(a)
a.update(b)
a

dict_keys([1, '숫자', 'A'])
dict_values(['하나', 1234, '알파벳'])
dict_items([(1, '하나'), ('숫자', 1234), ('A', '알파벳')])
{}
two
None
no_data
{1: 'a', 2: 'b'}

{1: 'a', 2: 'c', 3: 'd'}

#### 3-7. set

- set은 중복되는 데이터가 없는 집합 형태의 데이터 타입 
- 교집합, 합집합, 차집합과 같은 집합의 연산도 가능
- 리스트 데이터에서 중복을 제거할 떄 사용되기도 함
- 순서가 있는 데이터 타입이 아니기 때문에 오프셋을 이용한 특정 인덱스 값을 가져오거나 슬라이싱으로 데이터 수정이 불가능
- 수정을 위해서는 리스트로 데이터 형변환 후 데이터를 수정하고 다시 셋 데이터 타입으로 바꿔주어야 함

#### 3-7. set - 선언

In [42]:
s = set([1,2,3,4,5,1,2,3])
type(s),s

(set, {1, 2, 3, 4, 5})

#### 3-7. set - 집합의 연산

In [10]:
# set (집합)
s1 = set([1,2,3,4])
s2 = set([3,4,5,6])

# intersection (교집합)
print(s1 & s2)
print(s1.intersection(s2)) # 함수로도 표현 가능

# union (합집합)
print(s1 | s2)
print(s1.union(s2))

# difference (차집합)
print(s1 - s2)
print(s1.difference(s2))

{3, 4}
{3, 4}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2}
{1, 2}

#### 3-7. set - 데이터의 수정

In [44]:
s = list(s)
s[4] = 10
s = set(s)
s

{1, 2, 3, 4, 10}

## 4. 데이터 형변환 (Data Type Conversion)

서로 다른 데이터 타입사이에 데이터의 형변환이 가능하다.
하지만 데이터 타입에 따라서 형변환이 되는 데이터 타입이 있고 되지 않는 데이터 타입이 있다

#### 4-1. 문자열과 숫자

In [45]:
# 문자열과 숫자 사이의 형변환이 가능

s = "1234"
n = int(s)
print(type(n),n)

<class 'int'> 1234

In [46]:
# 하지만 숫자문자가 아닌 문자열을 숫자로 형변환 하는 것은 불가능하다

s = "a"
n = int(s)
print(type(n),n)

ValueError: invalid literal for int() with base 10: 'a'

#### 4-2. boolean 형변환

In [47]:
# 숫자는 0이 False, 문자열은 ""이 False, 리스트에서는 []가 False로 형변환 된다

print(bool(""), bool("asedf"))
print(bool(-1), bool(1), bool(0.0), bool(0.1))
a,b = [], [1,2]
print(bool(a), bool(b))

False True
True True False True
False True

In [48]:
# 이 내용은 데이터 존재의 유무를 판별할 수 있어서 뒤에 배우는 조건문에서 조건을 정의할 때
# 더 깔끔한 코딩을 할 수 있다.

a,b =[], [1,2,3]

if len(a) > 0:
    print(a)
else:
    print("no_data")
# 이렇게 할 필요 X ( computer가 하는 일이 많아진다. 비효율적 )


# 이렇게 쓰는 방법이 맞다 ( 효율적임 )
if b:
    print(b)
else:
    print("no_data")

no_data
[1, 2, 3]

#### 4-3. 문자열의 리스트 형변환

In [49]:
# 문자열을 리스트로 형변환하면 문자 하나씩 순서대로 리스트의 데이터로 추가되는 형태

s = "fast"
l = list(s)
l

['f', 'a', 's', 't']

#### 4-4. 튜플과 딕셔너리 형변환

In [50]:
# 튜플의 (key, value) 형태의 나열로 되어 있는 튜플의 데이터는 딕셔너리로 형변환이 가능

t = ((1,"one"),(2,"two"))
dict(t)

{1: 'one', 2: 'two'}

#### 4-4. 딕셔너리의 튜플 형변환

In [51]:
# 딕셔너리를 튜플로 형변환 하면 딕셔너리의 키 데이터만 형변환 된다.
# key, value 데이터를 모두 사용하여 형변환 하려면 items()함수를 사용한다.

d = {1:"one", 2:"two"}
t = tuple(d)
print(t)
t = tuple(d.items())
print(t)

(1, 2)
((1, 'one'), (2, 'two'))

## 5. 연산자 (Operators)

#### 5-1. 산술 연산자 (Arithmetic Operators) : `+, -, *, /, //, %, **`

In [52]:
print(2 + 4)
print(2 - 4)
print(2 * 4)
print(10 / 3)
print(10 // 3)
print(10 % 3)
print(3 ** 4)

6
-2
8
3.3333333333333335
3
1
81

#### 5-2. 비트 연산자 (Bitwise Operators) : `&, |, ^, ~, <<, >>`

In [53]:
a = 3 # 011
b = 5 # 101

print(a&b, bin(a&b))
print(a|b, bin(a|b))
print(a^b, bin(a^b))
print(~a, bin(-a))
print(-b, bin(-b))
print(a<<2, bin(a<<2))
print(b>>1, bin(b>>1))

1 0b1
7 0b111
6 0b110
-4 -0b11
-5 -0b101
12 0b1100
2 0b10

#### 5-3. 논리 연산자 (Logical Operators) : `and, or, not`

In [54]:
print(True and True)
print(True and False)

print(True or True)
print(True or False)

print(not(True and True))
print(not(True and False))

True
False
True
True
False
True

#### 5-4. 멤버 연산자 (Membership Operators) : `in, not in`

In [55]:
a = [1,2,3,4]
print(1 in a)
print(5 in a)
print(1 not in a)

True
False
False

#### 5-5 식별 연산자 (Identify Operators) : `is, is not`

숫자나 문자열의 경우는 값을 비교

In [56]:
a = 'a'
b = a
print(a is b)

True

In [57]:
b = 'a'
print(a is b)

True

In [58]:
print(a is not b)

False

컬렉션 데이터의 경우에는 주소값을 비교

In [59]:
a = [1,2,3]
b = a
print(a is b)

# 데이터가 저장되어 있는 주소가 같은지 확인한다.
a = [1,2,3]
b = a.copy()
print(a is b)

print(a is not b)

True
False
True

### Quiz1

아래의 데이터를 딕셔너리 형태의 데이터로 만드시오

- 학생 A - 수학 : 80, 영어 : 100, 과학 : 90
- 학생 B - 수학 : 70, 영어 : 100, 과학 : 100
- {'A':{'과학':90,'수학':80,'영어':100}, 'B':{'과학':100,'수학':70,'영어':100}}

### Quiz2

- 리스트 중복 제거 후 내림차순으로 정렬

In [14]:
# 아래의 리스트를 중복을 제거하고 내림차순으로 정렬하세요.
ls = [1,5,2,8,6,4,3,6,4]

In [15]:
# TODO
[8,6,5,4,3,2,1]

[8, 6, 5, 4, 3, 2, 1]

### Quiz3

- Arrange
- 문장을 단어의 글자수가 낮은 단어 순서대로 재 나열 하시오
- 문장의 첫 글자는 대문자이고 마지막은 마침표가 항상 있습니다.

결과 예시

- The lines are printed in reverse order(입력)
- In the are lines order printed reverse.(결과)

힌트

- 단어수대로 리스트를 오름차순으로 정렬하는 방법

       ls = ["abc", "a", "ab"]
       ls.sort(key=len)

In [27]:
sentense = "The lines are printed in reverse order"

### Quiz1 - Solution

In [38]:
dic = {"A" : {"수학" : 80, "영어" : 100, "과학" : 90}, 
       "B" : {"수학" : 70, "영어" : 100, "과학" : 100},}
# 뒤에 ,를 붙이는 이유 깃허브의 수정이 2줄에서 1줄로 줄일 수 있다.
dic

{'A': {'과학': 90, '수학': 80, '영어': 100}, 'B': {'과학': 100, '수학': 70, '영어': 100}}

### Quiz2 - Solution

In [16]:
s = set(ls)

In [17]:
ls = list(s)

In [26]:
ls.reverse()
print(ls)

[8, 6, 5, 4, 3, 2, 1]

### Quiz3 - Solution

In [225]:
sentense = "The lines are printed in reverse order"

In [226]:
list = sentense.split(" ")
list.sort(key=len)
list = (" ").join(list) + "."
list.upper()

sen_1 = list[0].upper()
sen_2 = list[1:].lower()
sen_1 + sen_2

'In the are lines order printed reverse.'