# Condition & Loop & Input & Output

- 1 input
- 2 print
- 3 if, elif, else
- 4 while
- 5 for
- 6 comprehension

## 1. Input

In [1]:
value = input("insert string : ")
print(type(value), value)

insert string : dss
<class 'str'> dss

In [2]:
value = int(input("insert number : "))
print(type(value), value)

insert number : 7
<class 'int'> 7

## 2. print

In [3]:
print("fast", "campus")

fast campus

In [4]:
# \n 사용 줄바꿈 가능
print("data", end = "\n")
print("dss")

data
dss

In [5]:
# \t 사용 같은 line tab공간 띄워서 출력
        
print("data", end = "\t")
print("dss")

data	dss

In [6]:
# format

a, b = 1234, "fastcampus"

print("number : {}, string: {}".format(a, b))

print("number : {num}, string: {string}".format(num = a, string = b))

number : 1234, string: fastcampus
number : 1234, string: fastcampus

## 3. if, elif, else

- syntax
```
if condition_1:
    code_1
elif condition_2:
    code_2
else:
    code_3        
```
- condition이 True이면 해당 조건안쪽의 코드가 실행

In [7]:
# 기본 구조
flag = True
if flag:
    print("if")
else:
    print("else")

if

In [8]:
flag = False
if flag:
    print("if")
else:
    print("else")

else

In [9]:
# 비교 연산자 사용
a, b = 10, 20

if a < b:
    print("a < b")
elif a == b:
    print("a == b")
else:
    print("a > b")

a < b

In [10]:
# 논리 연산자 사용
a, b = 10, 20

if a < 20 and b <10:
    print("code 1")
else:
    print("code 2")

code 2

In [11]:
# len(a) == 0 과 같이 사용하지 않는다
a,b = [], [1,2]
if len(a) == 0:
    print("no_data")
else:
    print(a)
# 위와 같은 방법은 비효율적임 len()이라는 함수를 사용하는 것이므로

# 아래와 같이 사용하도록 하자
if b:
    print(b)
else:
    print("no_data")

no_data
[1, 2]

### Quiz 1

- 숫자를 입력 받아 짝수이면 odd, 홀수 이면 even을 출력하는 프로그램을 작성하시오.

### Quiz 1 - Solution

In [12]:
value = int(input("숫자를 입력하세요 : "))

if value % 2 == 0:
    print("even")
else:
    print("odd")

숫자를 입력하세요 : 4
even

### 삼항 연산

- syntax
`(True) if (condition) else (False)`

In [13]:
a, result = 10, ""
if a % 2 == 0:
    result = "even"
else:
    result = "odd"
result

'even'

In [14]:
a = 10
result = "even" if a % 2 == 0 else "odd"
result

'even'

## 4. while

- syntax
```
while condition:
    code
```
- condition이 True이면 while 안쪽의 code가 실행 후 다시 condition을 확인하여 True이면 code실행을 반복
- break (무한 루프에 빠지는 것을 방지하기위해 사용)
- continue (break와 비슷하나 아얘 나가는 것이아니라 조건문을 다시 실행)

In [15]:
# 기본 구조

a = 3

while a > 0 :
    print(a)
    a -= 1

3
2
1

In [16]:
# break 사용

a = 3
while a > 0 :
    print(a)
    if a == 2:
        break
    a -= 1

3
2

In [17]:
# break와 continue의 차이

a = [1,2,3,4,"q"]
idx = 0
while True:
    data = a[idx]
    idx += 1
    if data == "q":
        break
    elif data % 2 == 0:
        continue
    print(data)

1
3

## 5. for

- syntax
```
for value in list:
    code
```
- list에 있는 value를 순서대로 하나씩 꺼내서 code를 실행
- range
- zip
- enumerate

In [18]:
# 기본 구조

ls = [0,1,2,3,4]
for value in ls:
    print(value)

0
1
2
3
4

In [19]:
# range(end) 시작은 자동으로 0 부터

for value in range(5):
    print(value)

0
1
2
3
4

In [20]:
# range(start:end)

for value in range(2,5):
    print(value)

2
3
4

In [21]:
# range(start:end:step)

for value in range(1,5,2):
    print(value)

1
3

In [22]:
for value in range(5,1,-1):
    print(value)

5
4
3
2

In [23]:
# 간단 구조

a = 0
for _ in range(5):
    a += 1
print(a)

5

### zip
- 2개의 리스트를 key, value 형태로 묶어주는 함수

In [24]:
# 2개의 리스트를 매핑시켜 딕셔너리 형태로 변경??
subjects = ["korean", "english", "math", "science"]
points = [100, 80, 90, 60]

In [25]:
# zip 함수를 모른다면? 이렇게 코드를 할 것.
convert_dict = {}
for idx in range(len(subjects)):
    convert_dict[subjects[idx]] = points[idx]
convert_dict

{'english': 80, 'korean': 100, 'math': 90, 'science': 60}

In [26]:
# zip에 대한 for 문
convert_dict = {}
for subject, point in zip(subjects, points):
    print(subject, point)
    convert_dict[subject] = point
convert_dict

korean 100
english 80
math 90
science 60

{'english': 80, 'korean': 100, 'math': 90, 'science': 60}

In [27]:
convert_dict = {}
for subject, point in zip(subjects, points):
    convert_dict[subject] = point
convert_dict

{'english': 80, 'korean': 100, 'math': 90, 'science': 60}

In [28]:
# 하지만 zip을 안다면? 한 줄로 같은 결과를 얻을 수 있음
# tuple형태, dict형태 둘다 표현 가능

print(tuple(zip(subjects,points)))
print(dict(zip(subjects,points)))

(('korean', 100), ('english', 80), ('math', 90), ('science', 60))
{'science': 60, 'english': 80, 'math': 90, 'korean': 100}

### enumerate

- 리스트 형태의 데이터를 index와 value값을 동시에 사용할 수 있는 함수

In [29]:
# list(enumerate(range(5,10)))
# 기본구조
subjects = ["korean", "english", "math", "science"]
for idx, value in enumerate(subjects):
    print(idx, value)

0 korean
1 english
2 math
3 science

### Quiz 2
- for 문을 이용하여 리스트에 있는 모든 숫자들을 더하는 코딩을 하시오.
- numbers = [1,3,5,7,9]

### Quiz 2 - Solution

In [30]:
# TODO

numbers = [1,3,5,7,9]
result = 0
for n in numbers:
    result += n
result

25

### comprehension

- 반복문과 결과를 바로 리스트로 만들어 주는 방법
- 리스트에 1-5까지 숫자를 대입하는 방법

In [31]:
# method 1 (원초적인 방법)

ls = []
ls = [1,2,3,4,5]
print(ls)

[1, 2, 3, 4, 5]

In [32]:
# method 2 (not good)

ls = []
ls.append(1)
ls.append(2)
ls.append(3)
ls.append(4)
ls.append(5)
print(ls)

[1, 2, 3, 4, 5]

In [33]:
# method 3 (for문)

ls = []
for num in range(1,6):
    ls.append(num)
print(ls)

[1, 2, 3, 4, 5]

In [34]:
# method 4 (list comprehension 사용)

ls = []
ls = [num for num in range(1,6)]
print(ls)

ls = [num+1 for num in range(5)]
print(ls)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [35]:
# comprehension 은 for문을 사용하는 것보다 속도가 빠르다.

%time

ls = []
for num in range(1,10000):
    ls.append(num)

CPU times: user 3 µs, sys: 0 ns, total: 3 µs
Wall time: 6.91 µs

In [36]:
%time
ls = []
ls = [num for num in range(1,10000)]

CPU times: user 4 µs, sys: 0 ns, total: 4 µs
Wall time: 7.15 µs

In [37]:
# comprehension은 삼항연산과 함께 사용할 수 있다.

In [38]:
# 0 ~ 10까지 숫자를 출력하고 숫자뒤에 짝수인지 홀수인지 출력하는 코드를 작성

ls = []
ls = [str(num) + ":even" if num % 2 == 0 \
      else str(num) + ":even" for num in range(11)]
ls

['0:even',
 '1:even',
 '2:even',
 '3:even',
 '4:even',
 '5:even',
 '6:even',
 '7:even',
 '8:even',
 '9:even',
 '10:even']

### Quiz 3

- comprehension과 삼항연산을 함께 사용하여 이름 리스트에서 lee씨 성을 가진 사람은 성을 삭제하는 코드를 작성하세요.
- names = ["kim test", "park python", "lee data", "jung science", "lee school"] (입력)
- names = ["kim test", "park python", "data", "jung science", "school"] (결과)

### Quiz 3 - Solution

In [40]:
names = ["kim test", "park python", "lee data", "jung science", "lee school"]

names = [(names[idx][4:]) if names[idx][:3] == "lee" \
         else (names[idx]) for idx in range(len(names))]
names

['kim test', 'park python', 'data', 'jung science', 'school']

In [41]:
names = ["kim test", "park python", "lee data", "jung science", "lee school"]

names = [name.split(" ")[1] if name.split(" ")[0] == 'lee' 
         else name for name in names]
names

['kim test', 'park python', 'data', 'jung science', 'school']